GPATH
GRTAGS
GSYMS
GTAGS
ID
*.o
*.gnuplot
a.out
a.out.core
src/bin/unestiva/unestiva
src/bin/xmesh/xmesh
src/bin/xmsh/xmsh
src/bin/xyc2msh/xyc2msh
src/bin/gnuplot2gif/gnuplot2gif
src/lib/libestiva.a
estivaplus/lib/libestivaplus.a
